{% trans_default_domain 'FOSUserBundle' %}
{% if changeform is defined %}
    {{ form_start(changeform, { 'action': path('panel_profile'), 'attr': { 'class': 'fos_user_change_password row' } }) }}
        <div class="col-md-12 mx-auto change-pass-panel">
            {{ form_label(changeform.current_password) }}
            {{ form_widget(changeform.current_password) }}
            {{ form_errors(changeform.current_password) }}
        </div>
        <div class="col-md-12 mx-auto change-pass-panel">
            {{ form_widget(changeform.plainPassword) }}
            {{ form_errors(changeform.plainPassword) }}
        </div>
        <div class="update ml-auto mr-auto">
            <button type="submit" class="btn btn-primary btn-round">{{ 'change_password.submit'|trans }}</button>
        </div>
    {{ form_end(changeform) }}
{% endif %}